@model List<Data.Entities.ProjectEntity>


@{
	ViewData["Title"] = "Projects";
}
@await Html.PartialAsync("Partials/Components/_ProjectOverview")



<div id="projects" class="page">
	<section class="project-list">
		@if (Model == null || !Model.Any())
		{
			<h6>No projects found</h6>
		}
		else
			@foreach (var project in Model)
			{
			<div class="card">
				<div class="card-header">
					<div class="project-menu">
						<div class="project-menu-header">
							<div class="project-image">
								<img src="@project.ImagePath" alt="Project image" />
							</div>
							<div class="project-info">
								<h6 class="project-display">@project.ProjectName</h6>
								<span class="client-display">
									@project.Client?.Name
								</span>
							</div>


							<button type="button" class="settings-project-button" data-popup="popup-1"></button>
							<div class="edit-pop-up-menu popup-1">
								<div class="pop-up-menu-links">
									<div class="pop-up-menu-section">
										<button class="dropdown-btn edit-project-btn">
											<i class="fa-solid fa-pen-to-square"></i>
											<span>Edit</span>
										</button>
									</div>
									<div class="pop-up-menu-section">
										<button class="dropdown-btn delete-project-btn" data-id="@project.Id">
											<i class="fa-solid fa-trash"></i>
											<span>Delete</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<p>@Html.Raw(project.Description)</p>
				</div>
				<div class="card-footer"></div>
			</div>
		}
	</section>
</div>
